# Ignore development and test files
index.tests.ts
jest.config.js

# Ignore source files and TypeScript configurations
src/
tsconfig.json
tsconfig.build.json

# Ignore files related to version control
.git
.github/
.gitignore

# Ignore build artifacts and output directories
dist/
node_modules/

# Ignore any other files or directories you don't want to publish